* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

section{
    background-color: #0a051e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #2a2a2a;
    border-radius: 10px 10px 0 0;
}

.tab.active {
    background-color: #5b61f4; /* Cor do tab ativo */
    color: white;
}

.tab.inactive {
    color: #6c757d;
}

.input-group {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.input-group span {
    display: block;
    margin-bottom: 5px;
}

.input-group .amount {
    font-size: 18px;
    margin-bottom: 10px;
}

.input-group .currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    border: 1px solid #5b61f4;
    color: white;
    z-index: 1;
    width: 100%;
    max-height: 200px;    
    overflow-y: auto;     
    overflow-x: hidden;    
}

.dropdown a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}


.dropdown a:hover {
    background-color: #4348d970;
}

.payment-method {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment-method img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.payment-method span {
    flex: 1;
}

.buy-button {
    background-color: #5b61f4; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 50px; /* Bordas arredondadas */
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #4347d9; /* Cor do botão ao passar o mouse */
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #2a2a2a; /* Fundo do input */
    color: white; /* Cor do texto do input */
}